.idea
*.iml
**/node_modules
**/upload-dir
**/Scripts
**/Lib
**/Include
**/Library
**/share
**/etc
*.cfg
*.env

.gradle/
build/

*.class

*.log


# IDEs
# IntelliJ
.idea/
*.iml

# Output jars
*.jar
*.war
*.ear